[flake8]
max-line-length = 120
# All C90 class violations are reported when the user specifies flake8 --max-complexity
# All E class violations are “errors” reported by pycodestyle
# All F class violations are reported by pyflakes
# All W class violations are “warnings” reported by pycodestyle
select = C,E,F,W,B
extend-ignore = E203, E501
