# NoisePage-Pilot Docker ignores
.git
.gitignore

# By convention, we ignore the following folders.
# Build artifacts.
artifacts/


# Directory for building code.
build/

# Docker containers don't need documentation
docs/

# Ignore most JetBrains IDE files.
.idea/

# Ignore temporary CLion CMake directories.
cmake-build-*/

# Ignore Python bytecode cache files.
**/__pycache__
**/*.pyc

# Ignore Python doit db.
.doit.db
.doit.db.*
