# By convention, we ignore the following folders.
# Build artifacts.
artifacts/

# Directory for building code.
build/

# Ignore most JetBrains IDE files.
/.idea/*

# Share the default run configuration for CLion.
!/.idea/runConfigurations

# Share the default CMake configuration for CLion.
!/.idea/cmake.xml

# Ignore temporary CLion CMake directories.
cmake-build-*/

# Ignore Python bytecode cache files.
__pycache__/

# Ignore Python doit db.
.doit.db
.doit.db.*

# Ignoring setuptools packaging data
dist/
*.egg-info/
*.egg
